<li class="m-4 px-6 py-10 shadow-sm bg-white rounded-md flex flex-row" id="micropost-<%= micropost.id %>">
  <%= link_to gravatar_for(micropost.user, size: 50), micropost.user, class: "mr-4" %>
  <div class="flex flex-grow flex-col justify-between">
    <div class="flex flex-row justify-between">
      <span class="user font-medium text-lg"><%= link_to micropost.user.name, micropost.user %></span>
      <span class="timestamp text-gray-400 text-sm">
        Posted <%= time_ago_in_words(micropost.created_at) %> ago.
        <% if current_user?(micropost.user) %>
          <%= link_to "Delete", micropost, method: :delete, 
            data: { confirm: "You sure?" },
            class: "underline text-gray-500"
          %>
        <% end %>
      </span>
    </div>
    <span class="content">
      <%= micropost.content %>
      <%= image_tag micropost.display_image if micropost.image.attached? %>
    </span>
  </div>
</li>
